/* Monoid font from http://larsenwork.com/monoid/ */
@font-face {
  font-family: "Silkscreen";
  src: url("slkscr.ttf") format("truetype");
}

body {
    overflow: hidden;
    background: rgb(40,40,40);
}

body * {
    font-family: "Silkscreen";
    font-size: 16px;
    line-height: 200%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px;
}

p {
    line-height: 150%;
    margin-top: 10px;
}

#game {
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#ui {
    color: rgb(160,160,160);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    padding: 10px;
    line-height: 150%;
}

#ui li {
    list-style-type: none;
    float: left;
    width: 150px;
}

#ui li p {
    line-height: 150%;
}

#ui .player.crashed {
    color: red;
}

#ui .player.landed {
    color: green;
}

.menu {
    font-size: 24px;
    color: rgb(160,160,160);
    border: 2px solid rgb(160,160,160);
    background: rgba(40,40,40,0.9);
    position: absolute;
    z-index: 20;
    top: 20%;
    left: 0;
    width: 60%;
    margin-left: 14%;
    padding: 5%;
    box-shadow: inset 0 0 100px black;
    text-align: center;
}

.hidden {
    display: none;
}

/* main menu */
#main .waiting {
    display: none;
}

#main.state-open .waiting {
    display: block;
}

#main.state-open #open {
    display: none;
}

#main.state-open #open-singleplayer {
    display: none;
}

#seed, #seed:focus {
    color: rgb(160,160,160);
    background: rgb(60,60,60);
    border: 0;
    outline: none;
    padding: 3px 10px;
    width: 200px;
}

#seed:focus {
    background: rgb(80,80,80);
}

#seed[readonly] {
    background: transparent;
    padding: 0;
}

#results {
    list-style-type: decimal;
}



button, button:focus {
    color: rgb(160,160,160);
    background: transparent;
    border: 2px solid rgb(160,160,160);
    padding: 1px 8px;
}